<%- include('../partials/head') -%>
<%- include('../partials/navbarRegistered') -%>


    <main class="profile-container">

        <section class="profile-bio">

            <img class="portrait" alt="profile avatar" src="/image/Logo1.png">

            <section class="bio-text">
                <p class="name"><%= users.firstName %> <%= users.lastName %></p>
                <p class="bio"><%= users.bio %></p>
                <a class="button" href="/user/<%= users.id %>/profile-edit">
                    <button class="submit edit">Edit</button>
                </a>
            </section>
        </section>    
        <!-- <section class="profile-bio">
            <picture class="portrait" alt="">
                <i class="fa-solid fa-image-portrait"></i>
            </picture>
            <section class="bio-text">
                <p class="name">Jane Doe</p>
                <p class="bio">Former French chef living the homestead life</p>
                <a  class="button" href="/user/_:id/profile/profile-edit"><button class="submit edit" type="button">Edit</button></a>
            </section>
        </section>  -->
        <section class="profile-links">
            <ul class="user-actions"> 
                <a class="profile-button" href="/user/<%= users.id %>/cookbook" target="_blank"><button class="action">My Cookbook</button></a>
                <a class="profile-button" href="/user/friends/"><button class="action">My Friends</button></a>
                <a class="profile-button" href="/user/shopping-list/"><button class="action">Shopping List</button></a>
                <a class="profile-button" href="/search"><button class="action">Search</button></a>
            </ul>
        </section>
    </main>

<%- include('../partials/footerRegistered') -%>