<%- include('../partials/head') -%>
<%- include('../partials/navbarRegistered') -%>

    <main class="recipe-container">

        <header class="recipe-header">
            <h1 class="recipe-title"><%= recipe.recipeName %></h1>
            <a class="button" href="../recipe/<%= recipe._id %>/update-recipe">
                <button class="edit" type="submit">Edit</button>
            </a>
            <form action="/user/<%= userId %>/recipe/<%= recipe._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">

                <button class="button edit" type="submit">Delete</button>

            </form>
            
        </header>        


        <section class="recipe-album">

            <!-- <button class="add-photo"><i class="fa-solid fa-camera"></i>Add Photo</button> -->

            <img class="recipe-img" 
            src="/image/<%= recipe.images %>" 
            alt="<%= recipe.recipeName %>">

        </section>

        <section class="ingredients-instructions">
            <form class="ingredients" action="/shopping-list" method="POST">
                <h2 class="ingredients-title">Ingredients</h2>

                <ul class="just-ingredients no-bullets">
                <% for (let i=0; i < recipe.ingredients.length; i++) { %> 
                    <li class="ingredient-item">
                        <input type="checkbox">
                        <span class="checkmark">
                            <%= recipe.ingredients[i] %>
                        </span>
                       
                    </li>
                <% } %>     
                </ul>

                <button class="green-button edit" type="submit" onclick="addCheckedItem()">Add to shopping list</button>
            </form>

            <section class="instructions">
                <h2 class="ingredients-title">Instructions</h2>
                <ol class="recipe-instructions" aria-label="recipe instructrions">
                <% for (let j=0; j < recipe.instructions.length; j++) { %> 
                    <li class="instructions-step"><%= recipe.instructions[j] %></li>
                <% } %> 
                </ol>
            </section>
        </section>
    </main>

    <%- include('../partials/footerRegistered') -%>