<%- include('../partials/head') -%>
<%- include('../partials/navbarRegistered') -%>

<main class="recipe-container">
    <header class="recipe-header">
        <h1 class="recipe-title">
            Update<span style="color: var(--red)"> <%= recipe.recipeName %></span></h1>
    </header>
    <form class="new-recipe-form" action="/recipe/<%= recipe._id %>" method="POST">
        <section class="new-recipe">
            <label class="label" for="new-recipe-title">Enter Recipe Name:</label>
            <input type="text" class="input" id="new-recipe-title" value="<%= recipe.recipeName %>">
        </section>    

        <section class="new-recipe">
            <label class="label" for="images">Enter Image File Name:</label>
            <input type="text" class="input" id="images" name="images" value="<%= recipe.images %>">
        </section>

        <!-- <section class="recipe-album new-recipe-album"> -->
            <!-- javascript loop -->
            <!-- <button class="add-photo"><i class="fa-solid fa-camera"></i>Add Photo</button>
            <img class="recipe-album-img" src="" alt="">
        </section> -->

        <section class="ingredients-instructions">
            <section class="new-ingredients">
                <label for="new-ingredients" class="ingredients-title label">Ingredients:</label>
            <%# for (let i = 0; i < recipe.ingredients.length; i++) { %>
                <textarea id="new-ingredients" class="new-recipe-input" value="<%= recipe.ingredients %>"></textarea>
            <%# } %>
            </section>

            <section class="new-ingredients">
                <label for="new-instructions" class="ingredients-title label">Instructions:</label>
                <textarea id="new-instructions" type="textarea" class="new-recipe-input" value="<%= recipe.instructions %>"></textarea>
            </section>
        </section>

        <div class="centered-button-div">
            <button type="submit" class="submit">Save Recipe</button>
        </div>
    </form>

</main>


<%- include('../partials/footerRegistered') -%>